* {
  margin: 0;
  padding: 0;
}

#startBtn {
  padding: 29px 40px;
  font-size: 100px;
  cursor: pointer;
  background-color: burlywood;
  color: brown;
  border: none;
  border-radius: 51px;
  text-align: center;
  margin-top: 420px;
  margin-left: -100px;
  transform: rotate(-4.9deg);
}

#gamePage {
  display: none;
}
p {
  color: white;
}

.diceBtn {
  padding: 30px 80px;
  font-size: 100px;
  cursor: pointer;
  background-color: brown;
  color: white;
  border: none;
  border-radius: 51px;
  text-align: center;
  margin-top: 380px;
  margin-left: -100px;
  transform: rotate(-4.8deg);
}

body {
  display: grid;
  place-items: center;
  overflow: hidden;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 2px;
}
.cont {
  display: grid;
  width: 60px;
  grid-template-columns: repeat(10, 1fr);
  margin: 0px 0 0px 0;
  margin-top: 1px;
  margin-bottom: -590px;
}

.cont div {
  width: 60px;
  height: 60px;
  border: 0px solid white;
}

#p1,
#p2 {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  position: relative;
}

#p1 {
  position: relative;
  top: 0px;
  transition: all linear 0.5s;
  left: -62px;
  z-index: 2;
  background-image: url('jerry\ image.png');
  background-size: cover;
}

#p2 {
  z-index: 2;
  position: relative;
  top: -35px;
  left: -62px;
  transition: all linear 0.5s;
  background-image: url('tom1.png');
  background-size: cover;
}

img {
  position: relative;
  top: -615px;
  left: 0px;
  margin: 0;
  width: 615px;
  height: 615px;
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
#diceCont {
  display: grid;
  place-items: center;
  position: absolute;
  top: 200px;
  left: 120px;
  font-size: 2rem;
  z-index: 99;
}
#diceBtn {
  z-index: 99;
  padding: 10px;
  cursor: pointer;
  background-color: brown;
  border: 3px white;
  border-radius: 100px;
  width: 200px;
  height: 40px;
}

@media (max-width: 1250px) {
  #diceCont {
    display: flex;
    place-items: none;
    top: 92vh;
    left: 36vw;
    border: 2px solid red;
  }
  #diceBtn {
    width: 200px;
    margin-left: 20px;
  }
}
@media (max-width: 1250px) {
  #diceCont {
    display: flex;
    place-items: none;
    top: 99vh;
    left: 10vw;
    /* border: 2px solid red; */
  }
  #diceBtn {
    width: 200px;
    margin-left: 20px;
  }
}

.snake-container {
  overflow: hidden;
}

.snake-container {
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.snake-text {
  font-size: 45px;
  color: goldenrod;
  white-space: nowrap;
  animation: snake 9s linear infinite;
  font-weight: bold;
  margin-top: 25px;
}

@keyframes snake {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
body {
  background-image: url('background\ image.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
